
h1,
.h1 {
    font-size: 3.8em;
    line-height: 1.15em;
}

h2,
.h2 {
    font-size: 2.5em;
}

h3,
.h3 {
    font-size: 2em;
    line-height: 1.4em;
    margin: 20px 0 10px;
}

h4,
.h4 {
    font-size: 1.6em;
    line-height: 1.4em;
}

h5,
.h5 {
    font-size: 1.25em;
    line-height: 1.4em;
    margin-bottom: 15px;
}

h6,
.h6 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
}

body{
    color: #FFFFFF;
    font-family: "Inconsolata";
    margin-top: 0;
    width: 100%;
    font-size: 14px;
}

.navbar {
  z-index: 1;

  position: fixed;
  background-color: #453F36;
  border-radius: 0;
  line-height: 20px;
}

.logo {
  display: inline-block;
  padding-top: 15px;
  font-size: 18px;
  height: 25px;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;

}
.logo img{
  width: 70px;
  margin-left: 20px;
}

ul {
  list-style: none;
}

.hamburger {
  margin-top: 5px;
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: right;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
}

.nav-link:hover{
  background-color: transparent !important;
    color: #000;
}
@media only screen and (max-width: 992px) {


    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #453F36;
        width: 40%;
        height: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 0rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

}
// Inside the Media Query.

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

.navbar-nav-f1 {
  text-decoration: capitalize;
  color: white;
  font-family: inherit;
}

.navbar-f1 {
  float: right;
  display: inline-block;
  justify-content: space-between;
  align-items: right;
  padding: 1rem 0.5rem;
    }

.home {
  background-image: linear-gradient(
  rgba(0,0,0,0.0) 0%,
  rgba(0,0,0,0.6) 50%,
  rgba(0,0,0,0.8) 80%,
  rgba(0,0,0,0.9) 90%,
  rgba(0,0,0,1.0) 100%
  ), url('../images/background-image.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: #c2c2c2;
}

.footer {
  background-color: #95372B;
  color: white;

}

footer ul {
  vertical-align: top;
  display: inline-block;
    margin-bottom: 0;
    padding: 20px 40px;
    list-style: none;
}

footer ul li a {
  vertical-align: top;
    color: inherit;
    padding: 10px 45px;
    font-weight: 200;
    font-size: 14px;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: block;
}

footer ul li a:hover {
    text-decoration: none;
    color: #000;
}

.button_1 {
  width:150px;
  display: inline-block;
  font-size: 16px;
  margin: 0 0px 15px;
  background-color: black;
  padding: 10px;
  padding-left: 20px;
  padding-right:20px;
  color: #fff;
  text-align: center;
  border-radius: 0;
}

.button_1:hover {
  color: #95372B;
}
.pull-right {
  float: none !important;
}
.container {
  padding-top: 80px;

}
.title{
  margin-top: 30px;
  margin-bottom: 0;
  min-height: 32px;
  font-weight: 500;
  display: inline-block;

}

.subtitle {
  margin-top: 15px;
  margin-bottom: 40px;

  font-weight: 200;
}


form {
  background-color: transparent;
  border-style: solid;
  width: 350px;
  height: 50px;
  border-radius: 0px;
  display: inline-block;
  flex-direction: row;
  text-align: left;
  border-width: 1.5px;
}
input {
  all: unset;
  font: 16px;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #fff;
  opacity: 0.7;
}

.button_2 {
  width:150px !important;

  float: center;
  font-size: 16px;
  background-color: #95372B;
  padding: 10px;
  padding-left: 30px;
  padding-right:30px;
  color: #fff;
}

ul {
  list-style: none;
}

.btn_2 {
    font-size: 16px;
    margin: 40px 20px 0 15px;
    background-color: #95372B;
    padding: 10px;
    padding-left: 30px;
    padding-right:30px;
    color: #fff !important;
  }

  .btn_2:hover{
    color: #c2c2c2;
    text-transform: none;
  }

.center {
    padding-bottom: 40px;
    text-align: center;
  }
.buttons {
  padding-top: 40px;
  display: inline-block;
}
.dot {
  height: 10px;
  width: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #95372B;
  border-radius: 50%;
  display: inline-block;
}

.not-full-width  {
  background-color: #c2c2c2;
  width: 100%;
  padding: 20px;
}

.dark-gray {
  padding-top: 50px !important;
  line-height: 15px;
  background-color: #453F36;
  height: 200px !important;

}

.dark-gray-2 {
  padding-top: 0px;
  line-height: 20px;
  background-color: #453F36;


}

@media only screen and (max-width: 600px) {

  .dark-gray-2 {
    padding: 40px;
    margin: 10px;
    height: 120px;
  }
  .dark-gray {
    padding: 30px;
    margin: 10px;
    height: 120px;
  }
}
@media only screen and (min-width: 600px) {
  .dark-gray-2 {
    padding: 30px;
    margin: 10px;
    height: 120px;
  }
  .dark-gray {
    padding: 30px;
    margin: 10px;
    height: 120px;
  }


}
.about {
  background-color: #F3F4EE;
  color: black;
}
.tan {
  background: #453F36;
  height: 140px;
}
.gray {
  background: #C4C4C4;
  height: 100px;
}
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  z-index: -1;
}

.not-full-width  {
  background-color: #c2c2c2;
  width: 100%;
  padding: 20px;
}


/* Style the list ZING PAGE  */
ul.breadcrumbs {
  padding: 0;
  list-style: none;
  background-color: transparent;
}

/* Display list items side by side */
ul.breadcrumbs li {
  display: inline;
  font-size: 14px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumbs li+li:before {
  padding: 8px;
  color: black;
  content: "\003E";
}

/* Add a color to all links inside the list */
ul.breadcrumbs li a {
  color: black;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumbs li a:hover {
  color: #95372B;
}

ol {
  padding-top: 0;
}
ol li {
  padding-top: 15px;
}
